body {
    padding: 0;
    margin: 0;
    background: black;
    color: white;
    font-family: 'Tomorrow', sans-serif;

}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}

.img-infos {
    display: flex;
    justify-content: space-around;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos .title {
    margin: 0;
    padding: 0;
}

.infos .explanation {
    line-height: 24px;
    width: 50%;
    word-spacing: 2px;

}

.picture {
    width: 700px;
    height: 600px;
    object-fit: cover;
    object-position: center;
}


h1 {
    font-size: 42px;
}

h2 {
    font-size: 24px;
}


.img-count {
    padding: 8px;

}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    display: none;
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: black;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }


    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-count {
    margin-top: 4px;
    width: 10%;
    background: none;
    color: white;
    border: 2px solid white;
    outline: red;
}

.results-btn {
    margin-top: 12px;
    border: 1px solid white;
    background: none;
    color: white;
    padding: 6px 9px;
    cursor: pointer;
}

.results-btn:hover {
    background: white;
    color: black;
    transform: scale(0.9);
}